.box {
    width: 300px;
    height: 180px;
    background-color: grey;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

    animation: colorchange 3s infinite;
}

@keyframes colorchange {
    0% {
        background-color: blue;
    }

    50% {
        background-color: black;
    }

    100% {
        background-color: green;
    }
}